.app-header{
	@include d-flex ($align-items: center, $justify-content: space-between);
	padding: 15px var(--side-indent);
	background-color: var(--primary);
	color: var(--white);
	box-shadow: 0 0 30px 5px rgba(52,152,219, .4);
	.toggle-button{
		cursor: pointer;
		&-element{
		display: block;
		width: 25px;
		height: 3px;
		background-color: var(--white);
		transition: .2s;
			&:nth-of-type(2){
				width: 18px;
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		&:hover{
			.toggle-button-element{
				background-color: var(--dark);
			}
		}
		&.toggle-active{
			.toggle-button-element:nth-of-type(1){
				transform: translateY(8px) rotate(45deg);
			}
			.toggle-button-element:nth-of-type(2){
				opacity: 0
			}
			.toggle-button-element:nth-of-type(3){
				transform: translateY(-8px) rotate(-45deg) ;
			}
			@media(min-width: 768px){
				display: none;
			}
		}
	}
	.right-block{
	@include d-flex ($align-items: center);
	}

	.avatar{
	margin-right: 25px;
	}

	.acc-text{
		position: relative;
		cursor: pointer;
	}

	.acc-info{
	@include d-flex ($align-items: center);
	}


.acc-status{
	color: var(--grey-300);
	letter-spacing: 0.1em;
	line-height: 15px;
	@include d-flex ($align-items: center, $justify-content: space-between);
}

.search{
	font-size: 16px;
	margin-right: 25px;
}
.acc-menu{
	padding: 10px;
	background-color: var(--white);
	position: absolute;
	top: calc(100% + 5px);
	left: 50%;
	transform: translate(-50%, 5px);
	border-radius: 4px;
	color: var(--dark);
	transition: .2s ease;
	opacity: 0;
	visibility: hidden;
		li{
			@include d-flex ($align-items: center);
			white-space: nowrap;
		}
		&.acc-menu-open{
			opacity: 1;
			visibility: visible;
			transform: translate(-50%, 0);
		}

	.toggle-box{
		margin-left: 15px;
		min-width: 35px;
		height: 20px;
		position: relative;
		border-radius:20px;
		background-color: var(--toggle-box-color);
		padding: 2px;
			.toggle-circle{
				display: inline-block;
				width: 50%;
				height: 100%;
				border-radius:50%;
				position: relative;
				left: 0;
				transition: .2s ease;
				background-color: var(--white);
			}
			&.toggle-active{
				background-color: var(--green);
				.toggle-circle{
					left: 50%;
				}
			}
		}
	}
}


